body {
  font-family: "Open Sans", sans-serif;
}
h5 {
  font-family: "Lobster", cursive;
}
.card {
  cursor: pointer;
}
.card-img-overlay h5 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.25vw;
}